/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2023, 10:20:45 PM
    Author     : Thamasha Devindi
*/
.course-info{
    background-color: lightgreen;
}

.course-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border: 1px solid #ddd;
}

.course-info th, .course-info td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: whitesmoke;
}

.course-info th {
    background-color: #f2f2f2;
}

