/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2023, 11:20:40 PM
    Author     : Thamasha Devindi
*/

.dash h1{
    font-size: 2rem;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: Georgia, serif; 
}

.dash .card:hover{
    color: red;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: -2px 2px 38px 15px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 38px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 38px 15px rgba(0,0,0,0.75);
}

.dash a{
    color: green;
    text-decoration: none;
}

.dash a:hover{
    color: darkgreen;
    font-weight: 700;
}