.main{
    box-sizing: border-box;
}

.main-section {
    background-size: cover;
    background: url("../images/stddetails.jpg"); 
    background-repeat: no-repeat;
    min-height: 95vh;
    width: 100%
}

table, th, td {
  background-color:whitesmoke;
}

/*Responsive*/
@media(max-width:1400px){
    body{
        background-size:1500px;
    }
}
@media(max-width:1000px){
    .contact-section{
        width:60%;
    }
}

@media(max-width:600px){
    .contact-section{
        width:80%;
    }
}
