/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2023, 5:06:20 PM
    Author     : Thamasha Devindi
*/
.contact {
    font-family: Arial, sans-serif;
    background-image: url("../images/contact.jpg");
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;

}

.containercs {

    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    /*border: 1px solid white;*/
    border-radius: 5px;
    background-color: rgba(0,0,1,0.4);
    margin-bottom: 80px;
}

.containercs h2 {
    text-align: center;
    color: white;
}

.containercs input[type=text],

.containercs textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    overflow: hidden;




}

.containercs input[type=submit] {

    /*border: 2px solid aliceblue;*/    
    color: aliceblue;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    background: aliceblue;
    color: black;
}

.containercs input, textarea[type=text] {

    /*border: 2px solid aliceblue;*/    
    color: aliceblue;

}
.containercs input, textarea[type=text]:hover {

    /*border: 2px solid aliceblue;*/    
    boader: none;
    /*    scale: 0.9;
        transition: 0.9s;*/

}

.containercs input[type=submit]:hover {
    background-color: black;
    color: aliceblue;
}

/*Respomsive*/
@media(max-width:1400px){
    body{
        background-size:1500px;
    }
}
@media(max-width:1000px){
    .contact-section{
        width:60%;
    }
    }
    
    @media(max-width:600px){
    .contact-section{
        width:80%;
    }
    }
