/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2023, 1:30:22 PM
    Author     : Owner
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("../images/event.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
}

/* Add a class for the overlay content */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Change the alpha value to adjust transparency */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

/* Style the paragraph text within the overlay */
.overlay p {
    color: #000; /* You can adjust the color as needed */
    font-size: 18px; /* You can adjust the font size as needed */
}

section .leftBox {
    
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}

section .overlay .leftBox .content {
    color: #fff;
    background-color: rgba(28, 110, 54, 0.7);
    padding: 40px;
    border: 2px solid #fff; /* Add a white border with a thickness of 2px */
    box-sizing: border-box;
    backdrop-filter: blur(5px); /* Add a blur effect to the background */
}

section .overlay .leftBox .content:hover {
    background: dimgrey;
}

section .overlay .leftBox .content h1 {
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}

section .overlay .leftBox .content p{
    
    margin: 10px 0 0;
    padding: 0;
}

section .overlay .events {
    position: relative;
    width: 50%;
    height: 100%;
    
}


section .overlay .events ul {
    padding: 0;
    margin: 0;
}

section .overlay .events ul li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    
}



section .overlay .events ul li .time {
    background-color: #000;
    color: white;
    width: 80px;
    height: 100%;
    text-align: center;
    padding: 5px;
    
    
}

s
section .overlay .events ul li .time h2 {
    margin: 0;
    font-size: 32px;
    color: white;
}
section .overlay .events ul li .time span {
    font-size: 18px;
    color: white;
}
section .overlay .events ul li .details {
    background:  #fff;
    color: #000;
    border-color: #e91e63;
    flex: 1;
    padding: 13px;
    display: flex;
    flex-direction: column;
    
}

section .overlay .events ul li .details h3 {
    font-size: 24px;
    margin: 0;
    color: #000;;
    text-align: center; 
}

section .overlay .events ul li .details p {
    font-size: 16px;
    color: #000;;
}