  body {
      margin-top: 20px;
      background-color: lightgray;
      background: url("../images/profilebg.jpg"); 
      background-size: cover; 
    }
    .main{
        padding: 15px;
        font-family: Arial,helvetica,sans-serif;
        
    }
     .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .sidebar{
        background-color:rgb(16, 99, 16);
        color:black;
        height:100%;
    }
    .sidebar a{
       margin-left: 10px;
       display:block;
       color: white;
       padding-bottom: 10px;
       font-size: 30px;
       text-decoration: none;
      
    }

    .card{
        position: relative;
        display: flex;
        flex-direction: column;
        background: rgb(16, 99, 16);
        
    }
    .profile-upload{
  position: center;
  background-color: rgb(16, 99, 16);
  align-items: center;
}
#profileImage {
  display: none;
  align-items: center;
}
.custom-file-upload {
  background-color: rgb(16, 99, 16);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  align-items: center;
  justify-content: center;
  
}

#selectedFileName {
  position: absolute;
  top: 40px;          
  left: 10px;
  font-size: 14px;
  align-items: center;
}
  
    .content{
        background-color: whitesmoke;
    }
    .about{
        text-align: center;
    }
    .text{
       text-align: left;  
       font-size: 20px;
    }
    .text-secondary{
         text-align: left; 
          font-size: 15px;
           color: #888;
         
    }

.profile-picture {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.form-button {
    margin-right: 10px; 
    width: 30%;
    height: 45px;
    background: rgb(16, 99, 16);
    border: none;
    outline: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: em;
    color: #fff;
    font-weight: 500;
    align-items: center;
}
.form-button {
    margin: 0 55px; 
    width: 30%;
    height: 45px;
    background: rgb(16, 99, 16);
    border: none;
    outline: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: em;
    color: #fff;
    font-weight: 500;
    align-items: center;
}

.content input{
    border: none;
    width: 300px;
    border: none;
   
}




